/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Resetting defaults
*/

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: .85em;
}

/*
  Grid
*/

.container {
  max-width: 960px;
  margin: 0 auto;
}
.col-1,
.col-2,
.col-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.col-1 {
  width: 220px;
}
.col-2 {
  width: 460px;
}
.col-3 {
  width: 700px;
}
.gutters {
  margin-left: 10px;
  margin-right: 10px;
}

/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  Custom styles
*/

body {
  background: #fff9ad;
  color: #5d5445;
  font: 16px/24px "PT Serif", Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

/*
  Typography
*/

h1, h2, h3, h4, h5, h6 {
  color: #965d51;
  font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1,
.h-headline {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}
h2,
.h-subheadline {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
}
h3,
.h-byline {
  font-size: 24px;
  margin-bottom: 24px;
}
h4,
.h-standfirst {
  font-size: 21px;
  margin-bottom: 24px;
}
h5,
.h-related {
  font-size: 18px;
}
p {
  margin-bottom: 24px;
}
.text-offset {
  color: #827762;
  font-size: 14px;
}
.text-intro {
  font-size: 24px;
  line-height: 36px;
}
abbr[title="and"] {
  font-family: Baskerville,Palatino,"Book Antiqua",serif;
  font-style: italic;
  font-weight: normal;
  font-size: .8em;
  line-height: 1;
}
code {
  color: #8f816a;
  font-family: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
}

/*
  Links
*/

a {
  color: #e4a467;
  text-decoration: none;
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}
a:hover {
  color: #c9905b;
}
.link-feat {
  font: 700 15px/1 "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/*
  List
*/

.list-compact {
  list-style: none;
}
.list-cols {
  margin-bottom: 24px;
}
.list-cols li {
  float: left;
  margin: 0 20px;
  width: 200px;
}
.list-cols li:nth-child(3n) {
  margin-right: 0;
}

/*
  Misc styles
*/

.divider {
  border-bottom: 2px solid #e4de9a;
  margin-bottom: 47px;
  padding-bottom: 23px;
}

/*
  Primary header
*/

.primary-header {
  background: #e4a467;
  border-bottom: 2px solid #c9905b;
  margin-bottom: 48px;
  padding: 23px 0;
}

/* Logo */

.primary-logo {
  float: left;
  line-height: 1;
  margin-left: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.primary-logo a {
  color: #fff;
}
.primary-logo a:hover {
  color: #965d51;
}
.primary-logo span {
  color: #965d51;
  text-shadow: none;
  text-transform: none;
}

/* Nav */

.primary-nav {
  float: right;
  margin-top: 21px;
}
.primary-nav li {
  float: left;
  margin: 0 10px;
}
.primary-nav a {
  color: #965d51;
  font: 700 18px/24px "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.primary-nav a:hover,
.nav-active a {
  color: #fff;
}
.nav-active a {
  cursor: default;
}

/*
  Primary footer
*/

.primary-footer {
  margin: 48px 0;
  text-align: center;
}
