/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Normalized
*/

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}


/*
  Custom Styles
*/

section {
  width: 400px;
  margin: 20px auto;
  background-color: #f5f7fb;
  border: 1px solid rgba(0, 0, 0, .8);
}

form {
  width: 300px;
  margin: 0 auto;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, .15);
  background-color: #e5e9f2;
}

input {
  line-height: 32px;
  font-size: 18px;
}

.field {
  margin: 10px auto;
  display: block;
  padding-left: 10px;
  width: 260px;
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  padding: 10px 0;
  width: 100%;
  margin-top: 20px;
  background-color: #4c6ea2;
  border: 1px solid rgba(0, 0, 0, .7);
  color: rgba(255, 255, 255, 1);
}

.top {
  height: 30px;
  background-color: #9ba4b1;
  margin-bottom: 30px;
}

.bottom {
  height: 50px;
  background-color: #9ba4b1;
  margin-top: 30px;
}







