/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Resetting defaults
*/

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: .85em;
}

/*
  Typography
*/

body {
  background: #fff9ad;
  color: #5d5445;
  font: 16px/24px Georgia, serif;
}
p {
  margin-bottom: 24px;
}
h1, h2, h3, h4, h5, h6 {
  color: #965d51;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
  margin-top: 24px;
}
h3 {
  font-size: 36px;
  margin-bottom: 36px;
  margin-top: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}
h6 {
  font-size: 16px;
}
footer {
  padding: 50px 0;
}

/*
  Links
*/

a {
  text-decoration: none;
  color: #965d51;
  font: 700 18px/24px Helvetica, Arial, sans-serif;
}

a:hover {
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.my-name {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 24px;
  font-family: Helvetica, Arial, sans-serif;
}

.primary-header {
  background: #e4a467;
  border-bottom: 2px solid #c9905b;
  margin-bottom: 48px;
  padding: 23px 0;
}
