/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Resetting defaults
*/

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: .85em;
}

/*
  Grid
*/

.container {
  max-width: 960px;
  margin: 20px auto;
}

/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

/*
  Typography
*/

/*$serif: 'Droid Serif', Constantia, Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, serif*/
/*$unicode: 'Source Code Pro', Inconsolata, 'Lucida Console', Terminal, 'Courier New', Courier*/

body {
  background: #fafbfc url("../img/texture.jpg") 0 0 repeat;
  color: #555;
  font: 13px/20px "Droid Sans", Arial, "Helvetica Neue", "Lucida Grande", sans-serif;
  text-shadow: 0 1px 0 #fff
}
p {
  margin-bottom: 20px;
}
abbr[title="and"] {
  font-family: Baskerville,Palatino,"Book Antiqua",serif;
  font-style: italic;
  font-weight: normal;
}
.text-importance {
  font-weight: 700;
}

/*
  Links
*/

a {
  color: #8ec63f;
  text-decoration: none;
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}
a:hover {
  color: #f7941d;
}





.primary-heading {
  color: #404853;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
}




h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 20px;
}
h2 {
  color: #404853;
  font-size: 18px;
}
h6 {
  color: #8c9198;
  font-size: 12px;
  text-transform: uppercase;
}












