/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Resetting defaults
*/

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}

/*
  Clearfix
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

/*
  Body
*/

body {
  background: #fff9ad;
  color: #fff;
  font: 700 24px/24px "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

/*
  Typography
*/

.subheadline,
.byline {
  color: #a9d7f5;
  font-weight: 500;
}
.subheadline {
  font-size: 18px;
}
.byline {
  font-size: 12px;
}

/* Weather stage */

.weather {
  background-color: #32a5f2;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3bb0ff), color-stop(100%, #299ae6));
  background-image: -webkit-linear-gradient(#3bb0ff, #299ae6);
  background-image:    -moz-linear-gradient(#3bb0ff, #299ae6);
  background-image:      -o-linear-gradient(#3bb0ff, #299ae6);
  background-image:         linear-gradient(#3bb0ff, #299ae6);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
       -o-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .2);
  margin: 48px auto;
  width: 660px;
}

/* Days and temps */

.day {
  border-left: 1px solid rgba(255, 255, 255, .2);
  border-right: 1px solid #217bb8;
  float: left;
  padding: 24px 15px;
  text-align: center;
}

.temps li {
  float: left;
  margin: 0 4px;
}




/* Featured day */

.feat-day {
  float: left;
  padding-left: 23px;
  padding-right: 23px;
  width: 180px;
}
.feat-headings {
  float: left;
}
.feat-temps {
  float: right;
}


.feat-temp {
  font-size: 72px;
  font-weight: 500;
}



/* Icons */

.i {
  background: url("../img/sprite.png") 0 0 no-repeat;
  font: 0/0 a;
  height: 47px;
  margin: 18px auto;
  width: 49px;
}
.i-partly-cloudy {
  background-position: 0 -47px;
}
.i-cloudy {
  background-position: 0 -94px;
}
.i-rainy {
  background-position: 0 -141px;
}


